/*
FONTS & COLORS
font-family: "Sarabun", sans-serif;
orange: #ffd670
lime: #E9FF70
baby pink:#FF70A6
salmon: #FF9770
baby blue: #70D6FF
*/

/* GENERAL STYLES */
body {
  margin: 0px;
  font-family: "Sarabun", sans-serif;
  font-size: 18px;
  background-color: #ffd670;
  color: #333;
  max-width: 50vw;
}
.main {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.infoPrincipal {
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0px;
}
.infoPrincipal__imagen {
  *margin-top: 10px;
  border-radius: 50%;
  width: 160px;
}
.infoPrincipal__titulo {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #ff9770;
  font-weight: 300;
  width: 100%;
}
.botones {
  font-size: 18px;
  margin: 0px auto;
  width: 50%;
  text-align: center;
}
.botones__link {
  text-decoration: none;
  color: #333;
}
.botones__link__btn {
  margin: 15px 0px;
  width: 100%;
  padding: 20px 0px;
  background-color: #ff9770;
  align-content: center;
}
.botones__link__btn:hover {
  background-color: #e9ff70;
}
.footer a {
  text-decoration: none;
  color: #333;
}
.footer a:hover {
  color: #e9ff70;
}
.footer a:link,
:active {
  text-decoration: none;
  color: #ff9770;
}
.footer hr {
  width: 100%;
}
